* {
    font-family: Microsoft YaHei;
}

QWidget#enrollWindowClass
{
    background-color:#ffffff;
    border: 1px solid #cccccc;
    border-radius:4px;
}

QPushButton#sysmin {
   border-image: url(:Resources/MainWindow/btn_mini_normal.gft.png); 
}
QPushButton#sysmin:hover {
   border-image: url(:Resources/MainWindow/btn_mini_highlight.gft.png); 
}
QPushButton#sysmin:pressed {
   border-image: url(:Resources/MainWindow/btn_mini_down.gft.png); 
}

QPushButton#sysclose {
   border-image: url(:Resources/MainWindow/btn_close_normal.gft.png); 
}
QPushButton#sysclose:hover {
   border-image: url(:Resources/MainWindow/btn_close_highlight.gft.png); 
}
QPushButton#sysclose:pressed {
   border-image: url(:Resources/MainWindow/btn_close_down.gft.png); 
}

QLabel#titleIcon{
    background-image:url(:Resources/MainWindow/qqlogoclassic.png);
}

QPushButton[color = true] {
	background:transparent;
	color: rgb(12, 150, 209);
	border:none;
}

QPushButton[color = true]:hover{
    background:transparent;
    color: rgb(221, 47, 47);
    background:transparent;
}

QPushButton[color = false]:disabled {
    background: transparent;
    color: rgb(162, 162, 162);
    border: none;
}

QPushButton#send:disabled {
    background: transparent;
    color: rgb(162, 162, 162);
    border: none;
}
